<div class="title">
  <h1>{{category}}</h1>
</div>

<div class="content container">
  {{#each trees}}
    <div class="row">
      <div class="col detail-item">
        <div class="row text-center">
          <a href="/Tree/{{this.NAME}}" class="image">
            <img src="/{{this.IMG}}" alt="forest1">
          </a>
        </div>
        <div class="row">
          <p class="detail-text">
            {{this.NAME}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}

  <h3>
    <div class="badge bg-light " style="width: 12rem; float: middle; ">
      <a href="/">Back</a>
    </div>
  </h3>
</div>
