<div class="title">
  <h1>พันธุ์ไม้ดอยผาหลวง อำเภอแม่อาย จังหวัดเชียงใหม่</h1>
</div>

<div class="content container">
  <div class="row">
    <div class="col home-item">
      <p class="home-item-title">ป่าดิบเขา</p>
      <a href="/Details/A" class="image">
        <img src="forest1.jpg" alt="forest1">
      </a>
      <p>
        ป่าดิบเขา (Hill Evergreen Forest) จะพบในพื้นที่สูง ทำให้มีอากาศหนาวเย็นตลอดปี เมฆหมอกปกคลุมอยู่เสมอ
        จึงเรียกป่านี้ว่า "ป่าเมฆ" มีความเขียวชอุ่มตลอดปี ต้นไม้มีอยู่หนาทึบ  ภายในป่าร่มครึ้ม ได้รับแสงเพียงรำไร แม้จะเป็นช่วงเวลากลางวัน นับเป็นแหล่งต้นน้ำลำธารที่สำคัญของประเทศไทย
        จึงกลายเป็นแหล่งรวมของนกอพยพในฤดูหนาวและสัตว์หายาก เช่น จิ้งจกน้ำ และหนูน้ำอ่างกา เป็นต้น
      </p>
    </div>

    <div class="col home-item">
      <p class="home-item-title">ป่าผสมผลัดใบ</p>
      <a href="/Details/B" class="image">
        <img src="forest2.jpg" alt="forest2"  style="width: 250px; float: middle; height: 250px;" >
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col home-item">
      <p class="home-item-title"> ป่าเต็งรัง</p>
      <a href="/Details/C" class="image">
        <img src="forest3.jpg" alt="forest3"  style="width: 250px; float: middle; height: 250px;" >
      </a>
    </div>

    <div class="col home-item">
      <p class="home-item-title"> ป่าปลูกทดแทน</p>
      <a href="/Details/D" class="image">
        <img src="forest4.jpg" alt="forest4" style="width: 250px; float: middle; height: 250px;" >
      </a>
    </div>
  </div>
</div>
